Configs/waybar/.config/waybar/themes/matugen.css
Configs/rofi/.config/rofi/matugen-colors.rasi
Configs/hypr/.config/hypr/themes/matugen.conf
Configs/hypr/.config/hypr/hyprlock.conf
Configs/hypr/.config/hypr/themes/matugen.conf
Configs/ghostty/.config/ghostty/themes/matugen
Configs/mako/.config/mako/themes/matugen
Configs/vicinae/.local/share/vicinae/themes/matugen.toml
Configs/kitty/.config/kitty/themes/matugen.conf
