@import "matugen-colors.rasi"

* {
    background: #1a1a1a;
    background-dim: #262626;
    foreground: #efdfe1;
    foreground-accent: @on-secondary;
    accent: @secondary;
    accent-dim: @on-secondary;
    urgent: @error;
    border: #2e2e2e;
}
