[Unit]
Description=Wallpaper daemon for Wayland
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/awww-daemon
Restart=on-failure

[Install]
WantedBy=graphical-session.target
