[Unit]
Description=Custom gdrive backup script
After=NetworkManager-wait-online.service
Wants=NetworkManager-wait-online.service

[Service]
Type=simple
ExecStart=%h/scripts/rclone_backup.sh

[Install]
WantedBy=graphical-session.target
