[Unit]
Description=Nandoroid Shell Service
PartOf=graphical-session.target
Requisite=graphical-session.target
After=graphical-session.target
ConditionEnvironment=XDG_CURRENT_DESKTOP=Hyprland

[Service]
ExecStart=qs -c nandoroid
Restart=on-failure
RestartSec=1
