// Set the regular wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}

// Set transparent workspace background color so you see the backdrop at all times.
layout {
  background-color "transparent"
}

// Optionally, disable the workspace shadows in the overview.
overview {
  workspace-shadow {
    off
  }
}

binds {
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "qs -c noctalia-shell ipc call volume increase";
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "qs -c noctalia-shell ipc call volume decrease";
    }
    XF86AudioMute allow-when-locked=true {
        spawn-sh "qs -c noctalia-shell ipc call volume muteOutput";
    }
    XF86KbdBrightnessUp allow-when-locked=true {
        spawn "kbdbrite.sh" "up";
    }
    XF86KbdBrightnessDown allow-when-locked=true {
        spawn "kbdbrite.sh" "down";
    }
    XF86MonBrightnessUp allow-when-locked=true {
        spawn-sh "qs -c noctalia-shell ipc call brightness increase";
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn-sh "qs -c noctalia-shell ipc call brightness decrease";
    }

    Mod+Alt+R hotkey-overlay-title="Start/Stop Screen Recording" {
        spawn-sh "qs -c noctalia-shell ipc call plugin:screen-recorder toggle";
    }

    Mod+Comma hotkey-overlay-title="Noctalia Settings" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "settings" "toggle"; }
    Mod+Space hotkey-overlay-title="Application Launcher" {
        spawn-sh "qs -c noctalia-shell ipc call launcher toggle";
    }
    Alt+Space hotkey-overlay-title="App Launcher" {
        spawn "vicinae" "toggle";
    }
    Mod+V hotkey-overlay-title="Clipboard Manager" {
        spawn "vicinae" "vicinae://extensions/vicinae/clipboard/history";
    }
    Mod+X hotkey-overlay-title="Power Menu" {
        spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle";
    }
    Mod+P hotkey-overlay-title="Wallpaper Picker" {
        spawn-sh "qs -c noctalia-shell ipc call wallpaper toggle";
    }
    Mod+A hotkey-overlay-title="Notifications" {
        spawn-sh "qs -c noctalia-shell ipc call controlCenter toggle";
    }
    Mod+Shift+S hotkey-overlay-title="Screen Toolkit" {
        spawn-sh "qs -c noctalia-shell ipc call plugin:screen-toolkit toggle"
    }
}
