@import "matugen-colors.rasi"

* {
    background: @surface-translucent;
    background-dim: @primary-container-dim;
    foreground: @on-surface;
    foreground-accent: @on-secondary;
    accent: @secondary;
    accent-dim: @on-secondary;
    urgent: @error;
    border: @surface-container-highest;
    cursor: @outline;
}
