* {
    background: #1d2021cc;
    background-dim: #262828cc;
    foreground: #ebdbb2;
    foreground-accent: #222;
    accent: #A9B665;
    accent-dim: #656e3c;
    urgent: #cc241d;
    border: #383935;
    cursor: #ebdbb2;
}
