@import "themes/matugen-pallete.css";

* {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

button {
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  border: 0;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .5s;
  margin: 0;
  padding: 0;
}

window#waybar>box {
  margin: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  padding: 0px 0px;
  opacity: 1;
  background: @background;
  border: none;
}

/* Modules styling */
#custom-menu,
#custom-separator,
#custom-workspaces,
#custom-sysbar,
#window,
#group-tray-expander,
#custom-expand-icon,
#network,
#battery,
#bluetooth.battery,
#clock {
  margin: 0px 1px;
  padding: 0px;
  font-size: 16.5px;
  font-family: 'GeistMono NFM', 'Adwaita Sans', 'Noto Sans', sans-serif;
  font-weight: 500;
  border-radius: 0px;
  border: none;
  background: transparent;
  opacity: 1;
  color: @foreground;
}

#custom-separator {
  opacity: .15;
  font-size: .9rem;
  margin: 0px;
  padding: 0px 4px;
}

#clock {
  padding-right: 10px;
}

/* Tray modules */
#custom-bluetooth,
#tray { margin: 0px 7px }

#tray menu {
  background: @surface;
  box-shadow: none;
}

#custom-expand-icon {
  background: transparent;
  margin-right: 10px;
}

/* Fixes */
#custom-expand-icon {
  margin: 0;
  padding: 0;
  margin-right: 8px
}

#network {
  padding-right: 3px;
}

#group-tray-expander {
  margin: 0;
  padding: 0;
}

#custom-menu {
  padding-left: 11px;
  padding-right: 7px;
}

#idle_inhibitor {
  padding-left: 6px;
  padding-right: 4px
}

#custom-power {
  padding-right: 15px
}

#custom-notification {
  padding-right: 2px;
}

#window {
  opacity: .5;
}

/* Styling */
#custom-menu,
#language,
#idle_inhibitor,
#custom-updates,
#pulseaudio,
#backlight,
#network,
#battery,
#clock,
#custom-notification,
#custom-power {
  transition: opacity .12s ease;
}

#custom-menu:hover,
#language:hover,
#idle_inhibitor:hover,
#custom-updates:hover,
#pulseaudio:hover,
#backlight:hover,
#network:hover,
#battery:hover,
#clock:hover,
#custom-notification:hover,
#custom-power:hover {
  opacity: .75;
}

/* Battery states */
#battery.warning:not(.charging),
#battery.critical:not(.charging) { color: @red }
#battery.plugged:not(.charging)  { color: @yellow }
#battery.charging                { color: @green }

tooltip {
  border-radius: 6px;
  background: @surface;
  font-family: 'GeistMono NFM', 'Adwaita Sans', 'Noto Sans', sans-serif;
}
